/* ALL the general information about florent website */

body {
  font-size: 14px;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

/* HEADER where it display the menu of the website.*/

header {
  border-bottom: 1px solid #e8e8e8;
}

.mainMenu {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  align-items: center;
}

.logo {
  display: flex;
  font-size: 1rem;
}

.menus, .menus ul {
  display: flex;
  font-size: 1rem;
  padding: 1rem;
}

.menus ul li {
  padding: 0.5rem;
}

.menus a {
  text-decoration: none;
  color: black;
}

/* CONTENT */

.banner {
  position: relative;
  display: block;
  overflow: hidden;
}

.background-image1, .background-image2, .background-image3 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50rem;
}

.background-image1 {
  background-image: url("../images/wander_poster.png");
}

.background-image2 {
  background-image: url("../images/kinoscope_fr_poster.jpg");
}

.background-image3 {
  background-image: url("../images/wander_poster.png");
}

.background-image4 {
  background-image: url("../images/wander_poster.png");
}

/* FOOTER */


/* MEDIA */
